*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --prime: #0F044C;
    --second: #141E61;
    --lightPrime: #787A91;
    --lightSecond: #EEEEEE;
    --black: #000;
}

body{
    background-color: var(--lightSecond);
}

#navbar{
    margin: 0.5em;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
}

.navbarTitle{
    font-size: 2.5rem;
    color: var(--lightSecond);
    cursor: pointer;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;

}

.nav{
    display: flex;
    justify-content: space-between;
}

.navLinks{
    font-size: 1.5rem;
    height: inherit;
    margin: 0rem 2rem;
    font-weight: 650;
    color: var(--lightSecond);
    text-decoration: none;
}

.navLinks:hover{
    color: var(--lightPrime);
    text-decoration: overline;
}


.searchBarContainer input{
    border: none;
    height: 2.2rem;
    width: 15rem;
    border-radius: 0.5rem;

}

.searchBarContainer button{
    border: none;
    height: 2.2rem;
    width: 3rem;
    margin: 0rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    >i{
        color: #000;
    }
}
.searchBarContainer button:hover{
    background-color: var(--lightPrime);
}



#mainContainer{
    background-color: #000;
    margin: 0.5em;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.optionContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    border-radius: 0.5rem;
}

.optionContainer button{
    border: none;
    height: 2.2rem;
    width: 3rem;
    margin: 0rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.optionContainer button{
    border: none;
    height: 2.2rem;
    width: 3rem;
    margin: 0rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.optionContainer button:hover{
    background-color: var(--lightPrime);
}